.board {
  width: 70%;
  margin: 0 auto;
  h1 {
    font-size: 2rem;
  }
  .board-number {
    text-decoration: none;
    margin-right: 40px;
    color: rgb(112, 112, 112);
  }
  .li-wrap:nth-child(1) .top-num{
    color: #E86E2C; 
  }
  .li-wrap:nth-child(2) .top-num{
    color: #F9BA35;
  }
  .li-wrap:nth-child(3) .top-num{
    color: #F3D429;
  }
  .top-list{
    float: left;
    width: 65%;
    overflow: hidden;
  }
}
