.comment-wrap {
  padding: 10px;
  opacity: 1;
  visibility: visible;
  transition: all 0.25s;
  background: rgb(239, 245, 250);
}
.comment-wrap-hide {
  padding: 10px;
  height: 0;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s;
}